.navbar{
    background-color: rgb(99, 99, 225);
     padding: 2px;
     border-radius: 10px;
}
.poverty{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}