* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar ul {
  text-decoration: none;
  list-style: none;
}
.navbar {
  display: flex;
  text-decoration: none;
  font-style: none;
  background-color: #8785ee;
  padding: 1%;
  /* border-radius: 3px; */
  text-align: center;
  height: inherit;
  padding: 20px;
}
.navbar li {
  font-size: large 15px;
}
.navbar li a {
  padding: 10px;
  text-decoration: none;
  /* font-style: oblique;
    font-style:italic; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar li a:hover {
  color: rgb(238, 134, 134);
}
.Para {
  display: -ms-inline-grid;
  padding: 10px;
  /* background-color: #ec8f70; */
  border-radius: 10px;
  display: math;
  display: inline-masonry;
}
.Para li {
  padding: 100px;
  border-radius: 20px;
  /* background:  aqua; */
  padding: 50px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  /* background-color: azure; */
}


.table {
  /* padding: 10px; */
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center; 
  border-collapse: collapse;
  margin-top: 20px;
}
.form {
  text-align: center;
  text-shadow: none;
  font-size: large;
  font-weight: bolder;
}
.feedback {
  padding: 10px;
  font-style: oblique;
}

.One{
  display: inline-grid;
  text-decoration: none;
  font-style: none;
  /* background-color: #cecdf1; */
}

.two{
  padding-top: 50px;
  /* background-color: rgb(185, 184, 184) */
}

.box1{
  text-decoration: none;
  display: -ms-inline-flexbox;
  padding: 10px;
}
.box2{
  text-decoration: none;
  display: -ms-inline-flexbox;
  padding: 10px;
}

.two{
  text-decoration: none;
  display: flow;
}

.three{
  display: -ms-inline-flexbox;
  /* background-color: #8785ee; */
  display: -ms-inline-grid;
}
